{% extends 'default_page.html' %}
{% block style%}
{% endblock style%}
{% block body%}
<section class="bg-white text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <p style=" font-style: italic; color: rgb(3, 3, 3); margin-top: 5px; margin-bottom:2px;" class="p-2"> 
                Copyright @2024 <a href="" style="text-decoration: none;">LocalMaarketPlace.in</a>. All rights are reserved.
            </p>
        </div>
      </div>
    </div>
</section>
{% endblock body%}