{% extends 'default_page.html' %}
{% block title %}
{% load static %}
    <title>MarketPlace Registeration</title>
    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/icon type">
{% endblock title %}
{% block body %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                 <h1 class="pt-5">LocalMarketPlace.in</h1>
            </div>
        </div>
    </div>
</section>
<section class="mt-5 shadow-lg p-3 mb-5 bg-body-tertiary rounded m-auto" style="height: 620px; width: 400px; border-radius: 1px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Create Account</h2>
                <p class="" style="margin-top: -10px; font-size: 12px;">Stay connected with your local experts</p>
                <hr>
            </div>
        </div>
        <div class="row">
            <form method="post" action="">
                {% csrf_token %}
                <div class="mb-4">
                    <label for="">User Name</label><br>
                    {{ form_details.username}}
                    {% if form_details.errors.username %}
                    <label class="text-danger" style="font-size: 10px; margin-bottom: -40px;">{{ form_details.errors.username  }}</label>
                    {% endif %}
                </div>
                <div class="mb-4">
                    <label for="">Email</label><br>
                    {{ form_details.email}}
                    {% if form_details.errors.email %}
                    <label class="text-danger" style="font-size: 10px; margin-bottom: -30px;">{{ form_details.errors.email }}</label>
                    {% endif %}
                </div>
                <div class="mb-4">
                    <label for="">Password</label><br>
                    {{ form_details.password1}}
                    {% if form_details.errors.password1 %}
                    <label class="text-danger" style="font-size: 10px; margin-bottom: -30px;">{{ form_details.errors.password1 }}</label>
                    {% endif %}
                </div>
                <div class="mb-4">
                    <label for="">Confirm Password</label><br>
                    {{ form_details.password2}}
                    {% if form_details.errors.password2 %}
                    <label class="text-danger" style="font-size: 10px; margin-bottom: -30px;">{{ form_details.errors.password2  }}</label>
                    {% endif %}
                </div>
                <div class="mx-auto">
                    <button type="submit" class="text-center py-2 px-5 bg-dark text-light" style="border-radius: 5px; font-weight: bold;">SIGN UP</button>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="my-3">
                <p> Already have an account?  <a href="{% url 'login' %}">Sign in</a></p>
                <p class="text-center" style="font-size: 13px;">By creating an account or logging in, you agree to LocalMarketPlace <a href="#">Conditions of Use</a> and <a href="#">Privacy Policy</a>. </p>
            </div>
        </div>
    </div>
</section>
{% include 'copy_right2.html' %}
{% endblock body %}